# Git files (not needed in container)
.git
.gitignore

# Docker files
Dockerfile
docker-compose.yml

# MacOS and Linux files
.DS_Store

# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment files
.env
.env.*

# Virtual environments
.venv/
.env

/temp
__pycache__
*.pyc
*.pyo
*.pyd
.env
.git
.gitignore
tests/